.App {
  background: black;
  position: relative;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 100vh;
  font-family: 'Press Start 2P', cursive;

  .Container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: red;
    text-align: center;

    h3 {
      font-size: 3em;
    }
  }
}

@media (min-width: 1281px) {
  .App {
    .Container {
      h3 {
        font-size: 10em;
      }
    }
  }
}
